html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	background: transparent;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

body {
	font: 11px/16px Tahoma, Verdana, Arial, sans-serif;
	color: #2c2c2c;
}

p {
	font-size: 1em; /* 14px */
	line-height: 1.357em;
	margin: 0 0 1.357em 0;
	color: #2C2C2C;
}
ul,
ol {
	margin: 0 0 1.357em 0;
	color: #2C2C2C;
}

h1 {
    font: bold 20px/25px Arial, Helvetica, sans-serif;
}

/* Experimental buttons that don't require JS */
button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
    button span {
        display: block;
        overflow: visible;
        padding: 0;
        white-space: nowrap;
        margin: 0;
    }
        button span strong {
            display: block;
            white-space: nowrap;
            margin: 0;
            overflow: visible;
        }
button:focus,
button:active {
    outline: hidden;
}

button.buttonSmall {
    height: 24px;
	font: normal 11px Helvetica, Arial, sans-serif;
}
button.buttonSmall span {
    height: 22px;
}
    button.buttonSmall span strong {
        height: 22px;
        line-height: 25px;
        padding: 0 11px 0 0;
    } 
    button.buttonSmall span.gray {
    	color: #0181E3;
        padding-left: 11px;
        background: transparent url(gray_small_comp_left.png) left top no-repeat;
    }
    button.buttonSmall:hover span.gray {
        color: #006ABC;
        background: transparent url(gray_small_comp_left.png) left -22px no-repeat;
    }
    	button.buttonSmall span.gray strong {
    	    background: transparent url(gray_small_comp_right.png) right top no-repeat;
    	}
    	button.buttonSmall:hover span.gray strong {
    	    background: transparent url(gray_small_comp_right.png) right -22px no-repeat;
    	}
    button.buttonSmall span.disabled {
        color: #afb4b4 !important;
    	background: #F0F0F0 url(gray_small_comp_left.png) left top no-repeat !important;
    	cursor: default !important;
    }
    button.buttonSmall:hover span.disabled {
        color: #afb4b4 !important;
    	background: #F0F0F0 url(gray_small_comp_left.png) left top no-repeat !important;
    	cursor: default !important;
    }
        button.buttonSmall span.disabled strong {
    	    background: #F0F0F0 url(gray_small_comp_right.png) right top no-repeat !important;
    	}
    	button.buttonSmall:hover span.disabled strong {
    	    background: #F0F0F0 url(gray_small_comp_right.png) right top no-repeat !important;
    	}

#loadingStatus {
    text-align: center;
    padding-top: 180px;
}

    #loadingStatus h1 {
        color: #2c2c2c;
        font-size: 20px;
        letter-spacing: -0.5px;
        margin-bottom: 0;
    }

    #loadingStatus img.loadingIcon {
        width: 128px;
        height: 128px;
        background: url(loadingicons_128.png) no-repeat top left;
    }

        #loadingStatus img.loadingIcon.loading {
            background-position: 0 0;
        }
    
        #loadingStatus img.loadingIcon.error {
            background-position: -128px 0;
        }